* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* line-height: 2vw; */
}



/* header start */
.container{
    background: #000000;
background: -moz-linear-gradient(left, #000000 0%, #1C6EA4 100%, #353EB4 100%);
background: -webkit-linear-gradient(left, #000000 0%, #1C6EA4 100%, #353EB4 100%);
background: linear-gradient(to right, #000000 0%, #1C6EA4 100%, #353EB4 100%);
}

.container{
    max-width: 1000px;
    color: white;
    margin: 0 auto;
    padding: 20px;

}

.container__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerBio{
    margin-right: auto;
}





.profilePic{
    width: 130px;
    height: 130px;
    border: 2px solid #636e72;
    border-radius: 60%;


}

.headerBio{
    padding: 20px;
}

.contactInfo{
    text-align: justify;
    padding: 20px;

}

.contactInfo a{

    text-decoration: none;
    color: #d1e5eb;
    font-weight: bold;



    }


    .contactInfo a:hover{
        text-decoration: underline;
        color: #218f00;
        background-color: rgb(0, 0, 0);

    }

    .divClear{
        clear: both;
    }
    hr{
        border: solid rgb(77, 68, 68) 4px;
        width: 100%;
        margin: 20px auto;
        border-bottom: none
    }

    /* header end */

    /* main start */

    #personalSection{

        margin: 20PX;

    }

    .content{
        margin-bottom:20px;
        display: flex;
        justify-content: space-between;


    }

    p, address{
        padding-top: .6rem;
    }

    h3{
        color: rgb(211, 84, 0);
    }

    h4{
        color: red;

    }

    .leftDiv{
        /* width: 30%;
        float: left; */
        flex: 1;

    }

    .rightDiv{
        /* width: 70%;
        float:left; */
        flex: 1;


    }

    .commonHr{
        border: solid rgb(77, 68, 68) 2px ;
        border-bottom: none;
        width: 100%;
        margin: 20px auto;

    }

    /* personal section end */

    /* work experience start */
    #workExperienceSection{
        margin: 20px;
    }



    /* work experience End */

    /* Academic Info start */
    #academicInfo{
        margin: 20px;
    }

    /* main end  */

    /* footer area start */

    /* footer area end */

    .bottomContainer{
        background-color: burlywood;
        text-align: center;
        padding: 10px;

    }

    .bottomContainer a{
        color: darkblue;
        text-decoration: none;
        font-weight: bold;
        margin: 20px;


    }

    .bottomContainer p{
        color: black;
        margin-top: 10px;
        text-transform: capitalize;
        font-weight: bold;
    }
